
body {
    background-color: #e6e4e2;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    text-decoration: underline;
}

h2 {
    margin: 0px;
}

#profileDiv {
    float: left;
    width: 300px;
}

#profileImg {
    width: 300px;
}

p {
    margin: 0px;
}

ol {
    list-style-type: none;
    width: 100%;
    max-width: 500px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border: 10px solid white;
}
