
body {
    background-color: #e6e4e2;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    background-image: url(images/backgroundImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#tableDiv {
    width: 100%;
}

#tableRowDiv {
    width: 100%;
}

.tableCell {
    display: inline-block;
    margin: 8px;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    text-decoration: underline;
    color: white;
}

h2 {
    margin: 0px;
}

p {
    margin: 0px;
}

/*Profile*/

#profileDiv {
    width: 300px;
    vertical-align: top;
}

#profileDiv h2 {
    text-align: center;
}

#profileImg {
    width: 300px;
}

/*Blog*/

#mainDiv {
    width: 33%;
    min-width: 350px; 
    max-width: 500px;
}


ol {
    list-style-type: none;
    padding: 0px;
}

li {
    margin-bottom: 16px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border: 10px solid white;
    position: relative;
    text-align: left;
}

.card h2 {
    text-align: left;
}

.card h3 {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
}

.tagDiv {
    margin-top: 8px;
}

.tag {
    display: inline-block;
    margin: 0px 16px 6px 0px;
    color: white;
    padding: 2px 8px 2px 8px;
    border-radius: 6px;
}

#selectedTagsDiv, #unselectedTagsDiv {
   margin: 4px 0px 0px 0px; 
}

.selectedTag {
    background-color: #5dbfcc;
}

.unselectedTag {
    background-color: gray;
}

